body {
    margin: 0px;
}

h3 {
    font-weight: 550;
}

b {
    font-weight: 550;
}

#mainmap {
	width: 100%; 
    height: 100vh;
    padding: 0%;
    font-family: 'Avenir Next', sans-serif;
}

#title {
    position: absolute;
    z-index: 1000;
    left: 10px;
    top: 10px;
}

.box-logo {
    float: left;
    border-radius: 10px;
    border: 4px solid #47473e; 
    width: 50px;
    height: 50px;
}

.box-logo-text {
    position: relative;
    left: 7px;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: -3;
    color: #47473e;
}

.box-logo-symbol {
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.title-text {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    left: 9px;
    top: 0px;
    color: #47473e;
    letter-spacing: 0.3;
}

.subtitle {
    position: relative;
    z-index: 1000;
    left: 80px;
    top: 48px;
    font-size: 1.15em;
    font-weight: 500;
    letter-spacing: 0.2;
    line-height: 1.3;
    color: #47473e;
}  

#logo {
    position: absolute;
    z-index: 1000;
    left: 10px;
    top: 10px;
}

#active {
}

.leaflet-control-layers-expanded {
    font-size: 14px;
}

.leaflet-top.leaflet-left {
    top: 90px;
}

.leaflet-bar a, .leaflet-bar a:hover {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
}

table {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-collapse: collapse;
}

tr, td { 
    padding-right: 10px !important;
}

tr {
    border-bottom: solid 1px black;
}

.btn-grey {
    display: inline-block;
    background-color: #AAA;
    color: #fff !important;
    padding: 2px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.btn-grey:hover {
    background-color: #B1BAC2;
}

input[type="checkbox" i] { 
    display: none; 
}

.leaflet-control-layers-overlays span {
    border-radius: 4px;
    color: #47473e;
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-align: left;
    padding: 2px 8px;
    background-color: #E2E2E2;
    margin-top: 5px;
    -moz-box-shadow:    inset 0 0 2px #666;
    -webkit-box-shadow: inset 0 0 2px #666;
    box-shadow:         inset 0 0 2px #666;
}

.layer-selected {
    background-color: #FFF !important;
    -moz-box-shadow:    inset 0 0 0.5px #666 !important;
    -webkit-box-shadow: inset 0 0 0.5px #666 !important;
    box-shadow:         inset 0 0 0.5px #666 !important;
}

.leaflet-control-layers-overlays span:hover {
    background-color: #CCC;
}

.leaflet-control-layers-list {
    margin-bottom: 0px;
}

.leaflet-control-layers-expanded {
    background-color: rgba(1,1,1,0);
    box-shadow: none;
    padding: 6px !important;
    font-size: 1.1em;
}

.legend {
    background: rgba(256,256,256,1);
    border: 0px solid #47473e;
    color: #333;
    border-radius: 4px;
    bottom: 30px;
    right: 10px;
    padding: 5px;
    position: absolute;
    z-index: 5000;
    font-size: 1.1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.legend-label {
}

.i {
    border-radius: 10px;
    display: inline-block;
    height: 12px;
    margin-left: 6px;
    margin-right: 6px;
    width: 12px;
    opacity: 0.7;
}

/* Mobile */ 

@media (max-width: 500px) {
    .title-text {
        top: 5px;
        font-size: 16px;
        display: flex;
    }

    .subtitle {
        display: none !important;  
    }
}

@media (min-width: 650px) {
    #title {
        display: block !important;
    }

    .legend {
        display: block !important;
    }

    .leaflet-control-container {
        display: block !important;
    }
    .subtitle {
        display: block !important;
    }
}